@import 'base/reset.scss';
@import 'base/fonts.scss';
@import 'modules/variables.scss';

body {
    font: 400 22px/32px 'Montserrat', sans-serif;
    background-color: #fff;
    color: #1A263D;
    font-weight: 400;
}
h2 {
    color: #000;
    font-size: 63px;
    line-height: 63px;
    font-weight: 700;
}
ul {
    list-style-type: none;
}
p {
    margin: 0;
}
a, button:hover {
    transition: .2s;
}
button {
    border: 0;
    padding: 0;
}
.container {
    max-width: 1553px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}


.first-window__inner {
    padding: 53px 0 76px;
    display: flex;
    gap: 30px;
}
.first-window__description {
    padding-top: 52px;
    width: 38%;
}
.first-window__header {
    display: flex;
    gap: 32px;
    margin-bottom: 50px;
}
.first-window__header-boxtitle {
    display: flex;
    gap: 16px;
    align-items: center;
    border-radius: 18px;
    background: #FFF;
    box-shadow: -9px -9px 18px 0px rgba(0, 0, 0, 0.05);
}
.first-window__header-boximg {
    width: 84px;
    height: 84px;
}

.first-window__date-title {
    font-weight: 700;
}
.first-window__header-title {
    color: #000;
    font-size: 27px;
    font-weight: 700;
}
.fitst-window__title {
    color: #000;
    font-size: 63px;
    font-weight: 700;
    margin-bottom: 43px;
    line-height: 63px;
    span {
        color: #00B050;
    }
}
.first-window__banner {
    padding: 17px 28px 28px;
    margin-bottom: 25px;
    max-width: 500px;
    border-radius: 18px;
    background: #F5FFF9;
}
.first-window__banner-title {
    font-weight: 700;
}
.box-counter {
    padding: 17px 21px 21px 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 18px;
    background: #FFF;
}
.box-counter__text {
    margin-bottom: 8px;
    
}
.counter {
    display: flex;
    gap: 20px;
}
.counter__item {
    position: relative;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #FFF;
    background: #00B050;
}
.counter__item::after {
    content: url(../img/drop.svg);
    position: absolute;
    top: 8px;
    right: -14px;
}
.counter__item:last-child::after{display: none;}
.button-main {
    padding: 34px 74px;
    font-weight: 700;
    color: #FFF;
    border: 1px solid transparent;
    border-radius: 100px;
    background: linear-gradient(225deg, rgba(255, 255, 255, 0.27) 0%, rgba(255, 255, 255, 0.00) 100%), #29C272;
    &:hover {
        color: #29C272;
        background-color: #FFF;
        border: 1px solid #29C272;
    }
}
//learn
.learn {
    padding: 88px 0 110px;
}
.learn__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .button-main {
        padding: 32px 90px;
    }
}
.learn__title {
    margin-bottom: 33px;
    text-align: center;
    max-width: 600px;
}
.learn__list {
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}
.learn__item {
   width: 30%;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
}
.learn__item-box-icon {
    margin-bottom: 22px;
    position: relative;
    width: 125px;
    height: 125px;
    border-radius: 50%;
    background-color: #0BC567;
}
.learn__item-icon {
    position: absolute;
    top: 24px;
    left:27px;
}
.learn__img {
    position: absolute;
    bottom: 0;
    right: 0;
}
.leatn__item-text {
}
//spiker
.spiker {
   padding-bottom: 116px;
    background-image: url(../img/background-spiker.webp);
    background-repeat: no-repeat;
    background-size: cover;
    .button-main {
        display: flex;
        margin: 0 auto;
    }
    
}
.spiker__inner {
    padding: 93px 0 0 20%;
}
.spiker__header {
    margin-bottom: 122px;
    display: flex;
    gap: 16px;
   
}
.spiker__box-img {
    width: 37%;

}
.spiker__descriptions {
    width: 42%;
}
.spiker__title {
    margin-bottom: 8px;
}
.spiker__span-subtitle {
    font-size: 27px;
    line-height: 40px;
    font-weight: 700;
    color: #00B050;
}
.spiker__subtitle {
    color: #000;
    font-size: 27px;
    line-height: 40px;
    font-weight: 700;
}
.spiker__bottom {
    position: relative;
    display: flex;
    gap: 44px;
}
.spiker__bottom-descriptions {
    width: 50%;
}
.spiker__bottom-title {
    margin-bottom: 8px;
}
.spiker__bottom-subtitle {
    margin-bottom: 18px;
    color: #000;
    font-size: 27px;
    font-weight: 700;
    line-height: 40px;
}
.spiker__list {
    margin-bottom: 19px;
    color: #000;
    max-width: 519px;
}
.spiker__list-item {
    padding-left: 44px;
    position: relative;
    margin-bottom: 20px;
    &::before{
        content: '';
        position: absolute;
        top: 5px;
        left: 0;
        width: 27px;
        height: 27px;
        background-color: #00B050;
        border-radius: 50%;
    }
}
.spiker__bottom-box-img {
    width: 360px;
    height: 360px;
    border-radius: 50%;
    overflow: hidden;
  
}
.spiker__bottom-box-salat {
    position: absolute;
    bottom: -20%;
    right: 38px;
}
//for-whom
.for-whom {
    padding: 90px 0 120px;
}
.for-whom__inner{
    position: relative;
    .button-main {
        display: flex;
        margin: 0 auto;
        justify-content: center;
    }
}
.for-whom__title {
    text-align: center;
    margin-bottom: 54px;
}
.for-whom__box-item {
    margin-bottom: 78px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 30px;
    row-gap: 78px;
}
.for-whom__item {
    position: relative;
    width: 30.333%;
    padding-left: 118px;
}
.for-whom__item:nth-child(4), .for-whom__item:nth-child(5){
    width: 40%;
}
.for-whom__item-span {
    font-weight: 700;
}
.for-whom__icon {
    position: absolute;
    min-width: 100px;
    min-height: 100px;
    top: 0;
    left: 0;
}
.for-whom__img {
    position: absolute;
    bottom: 0;
    left: -8%;
}
//rates
.rates {
    background: #F5FFF9;
}
.rates__inner {
    padding: 100px 0 136px;
    position: relative;
}
.rates__inner-title {
    margin-bottom: 38px;
    text-align: center;
}
.rates__inner-box-item {
    display: flex;
    justify-content: center;
    gap: 16px;
}
.rates__item {
    position: relative;
    z-index: 2;
    max-width: 613px;
    border-radius: 18px;
    border: 1px solid #C5E193;
    background: #FFF;
    box-shadow: -9px -9px 18px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}
.rates__item-inner {
    padding: 60px 70px 37px 64px;
}
.rates__item-header {
    margin-bottom: 30px;
    padding-bottom: 29px;
    border-bottom: 2px solid #E5E5E5;
}
.rares__item-trigger {
    margin-bottom: 7px;
    color: #000;
    font-size: 27px;
    font-weight: 700;
}
.rates__item-title {
    color: #00B050;
    font-size: 45px;
    font-weight: 700;
}

.rates__item-list-item {
    margin-bottom: 14px;
    position: relative;
    padding-left: 36px;
    &::before{
        content: '';
        position: absolute;
        left: 0;
        top: 8px;
        width: 18px;
        height: 18px;
        background-color: #00B050;
        border-radius: 50%;
    }
}
.rates__item-bottom {
    padding: 42px 0 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
background-color: #F3F3F3;
}
.rates__item-bottom-title {
    margin-bottom: 15px;
    color: #00B050;
    font-size: 45px;
    font-weight: 700;
}
.rates__img-bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}
//webinar
.webinar {
    padding: 101px 0 96px;
    background-image: url(../img/background-webinar.png);
    background-repeat: no-repeat;
    background-position: center;
}
.webinar__title {
    color: #00B050;
    text-align: center;
    font-size: 63px;
    line-height: 63px;
    font-weight: 700;
}
.webinar__title-span {
    text-align: center;
    font-size: 63px;
    line-height: 63px;
    font-weight: 700;
}
.webinar__box-item {
    display: flex;
}
.webinar__img {
    width: 53%;
}
.webinar__descriptions {
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    .box-counter {
        max-width: 444px;
        margin-bottom: 35px;
        background-color: #F5FFF9;
    }
    .button-main {
        padding: 34px 66px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 51%;
    }
}
.webinar__descriptions-day {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    gap: 20px;
    color: #000;
    font-size: 27px;
    font-weight: 700;
}
.webinar__descriptions-day:nth-child(2){
    margin-bottom: 56px;
}











@import 'base/media.scss';