@font-face {
    font-family: 'Epilogue', sans-serif;
    src: url(../fonts/Epilogue/Epilogue-Regular.ttf);
    src: url(../fonts/Epilogue/Epilogue-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Epilogue', sans-serif;
    src: url(../fonts/Epilogue/Epilogue-SemiBold.ttf);
    src: url(../fonts/Epilogue/Epilogue-SemiBold.woff2) format("woff2");
    font-style: normal;
    font-weight: 600;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Montreal', sans-serif;
    src: url(../fonts/NeueMontreal/NeueMontreal-Regular.otf);
    src: url(../fonts/NeueMontreal/NeueMontreal-Regular.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Montreal', sans-serif;
    src: url(../fonts/NeueMontreal/NeueMontreal-Medium.otf);
    src: url(../fonts/NeueMontreal/NeueMontreal-Medium.woff2) format("woff2");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}
@font-face {
    font-family: 'Neue Montreal', sans-serif;
    src: url(../fonts/NeueMontreal/NeueMontreal-Italic.otf);
    src: url(../fonts/NeueMontreal/NeueMontreal-Italic.woff2) format("woff2");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}
